# ============================================================
# Node
# ============================================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ============================================================
# OS
# ============================================================
.DS_Store
Thumbs.db
desktop.ini

# ============================================================
# Éditeurs
# ============================================================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# ============================================================
# WordPress (au niveau du thème)
# ============================================================
*.log
error_log
