.bloc-reference {
  .container {
    .cold {
      .section-informations {
        padding: 0 100px 100px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        p {
          font-weight: 200;

          strong {
            font-weight: 400;
          }
        }
      }
    }
  }
}
