@use "./../variables/colors.scss" as *;

.section-big-title {
  border-top: 1px solid $primaryColor;

  .container {
    padding-top: 100px;

    h1 {
      color: $primaryColor;
      font-size: 8rem;
      font-weight: 600;
      line-height: 0.9;
    }
  }
}
