@use "./../variables/colors.scss" as *;

.section-service-header {
<<<<<<< HEAD
  margin-top: 0px;
=======
  margin-top: -220px;
>>>>>>> 534bcab (ajout filtre page actualités + debut animations.css)
  background-color: $primaryColor;
  width: 100vw;
<<<<<<< HEAD
=======
  min-height: 550px;
>>>>>>> 534bcab (ajout filtre page actualités + debut animations.css)
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  .container {
    margin: 0;
    align-items: flex-end;
    justify-content: space-between;
    width: 90vw;
    max-width: 1400px;

    .colg {
      h1 {
        color: $white;
        font-size: 7rem;
        line-height: 5rem;
        font-weight: 700;
      }
    }

    .cold {
      .block-cta {
        background-color: $white;
        height: 60px;
        width: 400px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
      }
    }
  }
}
