@use "./../variables/colors.scss" as *;

.section-service-header {
  margin-top: 0px;
  background-color: $primaryColor;
  width: 100vw;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  .container {
    margin: 0;
    align-items: flex-end;
    justify-content: space-between;
    width: 90vw;
    max-width: 1400px;

    .colg {
      h1 {
        color: $white;
        font-size: 7rem;
        line-height: 5rem;
        font-weight: 700;
        padding-right: 80px;
        
      }
    }

    .cold {
      .block-cta {
        background-color: $white;
        height: 60px;
        width: 400px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 768px) {
  .section-service-header {
    .container {
      flex-direction: column;
      justify-items: center;
      width: 90vw;
      gap: 40px;

      .colg h1 {
        font-size: 3rem;
        line-height: 1.1;
        padding-right: 20px;
         text-align: center;
        padding-top: 10px;
      }

      .cold .block-cta {
        width: 100%;
        padding: 0 15px;
      }
    }
  }
}