@use "./../variables/base.scss" as *;
@use "./../variables/colors.scss" as *;
@use "./../variables/fonts.scss" as *;
@use "./../variables/cta.scss" as *;

.titre h2 {
  font-size: 3.5rem;
  color: $primaryColor;
}

.section-galerie-vertical {
  padding: 50px 0;

  .swiper-vertical {
    max-height: 80vh;
    max-width: 95vw;

    .swiper-wrapper {
      .swiper-slide {
        display: flex;
        align-items: center;

        .col-50 {
          width: 50%;
        }

        .colg {
          height: 100%;

          .block-img {
            height: 100%;
          }
        }

        .cold {
          padding-left: 100px;

          .content {
            display: flex;
            flex-direction: column;
            gap: 50px;
            width: 70%;

            p {
              text-align: justify;
            }
          }
        }
      }
    }

    .swiper-pagination-vertical {
      .swiper-pagination-bullet {
        height: 80px;
        width: 2px;
        border-radius: 0;
        background-color: $lightGray;

        &.swiper-pagination-bullet-active {
          background-color: $txtColor;
        }
      }
    }
  }
}

.section-galerie-vertical-reverse {
  padding: 50px 0;

  .swiper-vertical {
    max-height: 80vh;
    max-width: 95vw;

    .swiper-wrapper {
      .swiper-slide {
        display: flex;
        align-items: center;

        .col-50 {
          width: 50%;
        }

        .cold {
          height: 100%;

          .block-img {
            height: 100%;
          }
        }

        .colg {
          padding-right: 100px;

          .content {
            display: flex;
            flex-direction: column;
            gap: 50px;
            width: 70%;
            margin-right: 0;
            margin-left: auto;

            p {
              text-align: justify;
            }
          }
        }
      }
    }

    .swiper-pagination-vertical {
      left: 0;

      .swiper-pagination-bullet {
        height: 80px;
        width: 2px;
        border-radius: 0;
        background-color: $lightGray;

        &.swiper-pagination-bullet-active {
          background-color: $txtColor;
        }
      }
    }
  }
}

@media (max-width: 768px){
  .section-galerie-vertical {

  .swiper-vertical {
    max-height: 100vh;
    max-width: 90vw;

    .swiper-wrapper {
      .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;

        .col-50 {
          width: 100%;
        }

        .colg {
          height: 100%;

          .block-img {
            height: 100%;
            width: 95%;
          }
        }

        .cold {
          padding-left: 0;

          .content {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 90%;

            h2{
              font-size: 2rem;
              line-height: 2.5rem;
            }

            p {
              text-align: left;
            }
          }
        }
      }
    }

    .swiper-pagination-vertical {
      .swiper-pagination-bullet {
        height: 80px;
        width: 2px;
        border-radius: 0;
        background-color: $lightGray;

        &.swiper-pagination-bullet-active {
          background-color: $txtColor;
        }
      }
    }
  }
}


}
