@use "./../variables/colors.scss" as *;
@use "./../variables/cta.scss" as *;

.section-citation {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  margin: 50px auto;
}

.citation-block {
  width: 90%;
  background-color: $white;
  padding: 40px;
  display: flex;
  align-items: center;

  .citation-inner {
    position: relative;
  }

  .citation-name {
    font-size: 1.5rem;
    color: $lightGray;
    position: absolute;
  }

  .citation-text {
    font-size: 4rem;
    line-height: 1;
    color: $txtColor;
    text-indent: 150px;
  }
}

.citation-blue {
  width: calc(100% - 60px);
  height: 500px;
  background-color: $primaryColor;
  margin: 0 30px 0 30px;
  display: flex;
  //justify-items: center;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  .citation-deco {
    position: absolute;
    top: -1px;
    right: 15px;
    width: 260px;
    height: 260px;
    background-color: $white;
    clip-path: polygon(0 55%, 0 0, 55% 0);
  }
  .citation-blue-inner {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  .citation-blue-title {
    color: $white;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.3;
    width: 60%;
  }

  .btn-cta {
    color: $white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
}

@media (max-width: 1024px) {
  .citation-block {
    padding: 50px;
  }

  .citation-blue .citation-blue-inner {
    padding: 50px;
  }
}

@media (max-width: 768px) {
  .section-citation {
    flex-direction: column;
  }

  .citation-block {
    width: 100%;
    padding: 50px;
  }

  .citation-blue {
    width: 100%;

    .citation-deco {
      display: none;
    }

    .citation-blue-inner {
      padding: 50px;
      font-size: 3rem;
    }
  }
}
