@use "./../variables/base.scss" as *;
@use "./../variables/colors.scss" as *;
@use "./../variables/fonts.scss" as *;
@use "./../variables/cta.scss" as *;

.section-accordeon{
  .container{
    display: flex;
    gap: 40px;
    //width: 100%;
}

.col-image{
    width: 50%;
}
img{
    height: 800px;
    width: 600px;
}

.col-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.accordeon{
  background-color: $white;
  padding: 60px 0;
  margin-top: 100px;
  width: 100%;
}

  .accordeon_el {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;
    padding: 30px 0;
    border-top: 1px solid $lightGray;
    text-transform: uppercase;
    width: 100%

    a{
      flex:1;
    }

    &::after {
          content: "↘";

     color: $secondaryColor;
    transform: rotate(0deg);
    transition: all ease-in 300ms;
  }

  &:hover {
    border-bottom: 1px solid;
    color: $secondaryColor;

    &::after {
      transform: rotate(-90deg);
    }
  }

  
  
}
.section-header{
  .small_title{
    align-items: flex-start;
    margin-bottom: 20px;

  }
  .title {
    font-size: 3.5rem;
    color: $primaryColor;
    max-width: 50%;
    //max-height: 150px;
    width: 100%;
    //margin: 0 auto;
    align-items: flex-start;

    
  }

}
}
