@use "./../variables/colors.scss" as *;
@use "./../variables/base.scss" as *;


.section_actu_2_cards {
    .actu-title {
        color: $primaryColor;
        font-size: 2rem;
        font-weight: 300;
        margin-top: 50px;
    }
    .actu-grid {

        .actu-card {
            max-height: 600px;
            padding-bottom: 80px;
            border-bottom: 1px solid $lightGray;

            .actu-card-img {
                //aspect-ratio: 4/3;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }
            }

            &:hover {
                .actu-card-img img {
                    transform: scale(1.05);
                    filter: brightness(0.6);
                }
                .actu-card-plus {
                    background-color: $primaryColor;
                    color: $white;
                }
            }

            &:first-child {
                grid-column: span 2;

                .actu-card-img{   
                    aspect-ratio: inherit;
                }
            } 
        }
    }
    .actu-pagination {
        display: flex;
        justify-content: center;
        gap: 8px;
        margin-top: 60px;
        .page-numbers {
            color: $primaryColor;
            text-decoration: none;
            padding: 4px 8px;
            cursor: pointer;

        
        }
    }
}

