@use "./../variables/base.scss" as *;
@use "./../variables/colors.scss" as *;
@use "./../variables/fonts.scss" as *;
@use "./../variables/cta.scss" as *;

.titre h2 {
  font-size: 3.5rem;
  color: $primaryColor;
}

.section-galerie-vertical {
  padding: 50px 0;

  .swiper-vertical {
    max-height: 80vh;
    max-width: 95vw;

    .swiper-wrapper {
      .swiper-slide {
        display: flex;
        align-items: center;

        .col-50 {
          width: 50%;
        }

        .colg {
          height: 100%;

          .block-img {
            height: 100%;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .cold {
          padding-left: 100px;

          .content {
            display: flex;
            flex-direction: column;
            gap: 50px;
            width: 70%;

            p {
              text-align: justify;
            }
          }
        }
      }
    }

    .swiper-pagination-vertical {
      .swiper-pagination-bullet {
        height: 80px;
        width: 2px;
        border-radius: 0;
        background-color: $lightGray;

        &.swiper-pagination-bullet-active {
          background-color: $txtColor;
        }
      }
    }
  }
}

.section-galerie-vertical-reverse {
  padding: 50px 0;

  .swiper-vertical {
    max-height: 80vh;
    max-width: 95vw;

    .swiper-wrapper {
      .swiper-slide {
        display: flex;
        align-items: center;

        .col-50 {
          width: 50%;
        }

        .cold {
          height: 100%;

          .block-img {
            height: 100%;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .colg {
          padding-right: 100px;

          .content {
            display: flex;
            flex-direction: column;
            gap: 50px;
            width: 70%;
            margin-right: 0;
            margin-left: auto;

            p {
              text-align: justify;
            }
          }
        }
      }
    }

    .swiper-pagination-vertical {
      left: 0;

      .swiper-pagination-bullet {
        height: 80px;
        width: 2px;
        border-radius: 0;
        background-color: $lightGray;

        &.swiper-pagination-bullet-active {
          background-color: $txtColor;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .section-galerie-vertical {
    min-height: 100vh;

    .swiper-vertical {
      max-height: 100vh;
      max-width: 90vw;

      .swiper-wrapper {
        .swiper-slide {
          display: flex;
          flex-direction: column;
          align-items: center;

          .col-50 {
            width: 100%;
          }

          .colg {
            height: 100%;

            .block-img {
              height: 80%;
              width: 95%;
            }
          }

          .cold {
            padding: 0 10px;
            overflow: visible;

            .content {
              width: 100%;
              gap: 20px;

              h2 {
                font-size: 2rem;
                line-height: 1.2;
              }

              .btn-cta {
                white-space: nowrap;
              }
            }
          }
        }
      }

      .swiper-pagination-vertical {
        .swiper-pagination-bullet {
          height: 80px;
          width: 2px;
          border-radius: 0;
          background-color: $lightGray;

          &.swiper-pagination-bullet-active {
            background-color: $txtColor;
          }
        }
      }
    }
  }
}