@use "./../variables/colors.scss" as *;

.section-discover {
  margin: 50px auto;
  position: relative;
  border-top: 1px solid $lightGray;
  border-bottom: 1px solid $lightGray;

  .container-bg {
    background: linear-gradient(
      90deg,
      $lightGray 0%,
      $whiteTransparent calc(0% + 1px),
      $whiteTransparent calc(50%),
      $lightGray 50%,
      $whiteTransparent calc(50% + 1px),
      $whiteTransparent calc(100% - 1px),
      $lightGray 100%
    );
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 33.3vw;
    width: 33.3vw;
    top: 0;
  }

  .container {
    display: flex;
    min-height: 650px;
    align-items: stretch;
    padding: 150px 0;

    .discover-left {
      width: 50%;
      background-color: $primaryColor;
      background-size: cover;
      background-position: center;
    }

    .discover-right {
      width: 50%;
      background-color: rgb(229, 229, 229);
      padding: 50px 60px 80px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: relative;

      .discover-title {
        color: $primaryColor;
        font-size: 2.2rem;
        line-height: 1.2;
        margin-bottom: 30px;
      }

      .discover-paragraph {
        color: $txtColor;
        font-size: 1rem;
        line-height: 1.7;
        margin-bottom: 50px;
      }

      .discover-btn {
        margin-top: auto;
        display: inline-flex;
        align-items: center;
        background-color: $secondaryColor;
        color: $white;
        text-decoration: none;
        font-size: 0.9rem;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        padding: 5px 50px;
        align-self: flex-end;
        position: absolute;
        bottom: 0;
        gap: 80px;
        right: 0;
      }
    }
  }
}



@media (max-width: 768px) {
  .section-discover {

    .container{
    flex-direction: column;
    min-height: 400px;

    .discover-left {
      width: 100%;
      min-height: 260px;
    }

    .discover-right {
      width: 100%;
      padding: 40px 5% 80px;
      h2{
        font-size: 2.2rem;
        line-height: 1.2;
      }

      .discover-btn {
        align-self: flex-start;
        width: 60%;
      }
    }
  }
}
}
