@use "./../variables/base.scss" as *;
@use "./../variables/colors.scss" as *;
@use "./../variables/fonts.scss" as *;
@use "./../variables/cta.scss" as *;

.section-gallery-bl-gr{
    .card{
        display: grid;
        grid-template-columns: 50% 50%;
        min-height: 500px;
    }   

    .gallery-image{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .gallery-info{
        background-color: $lightGray;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        text-align: right;
        padding: 80px;

        .gallery-titre{
            color: $primaryColor;
            text-transform: uppercase;
            font-size: 3rem;
            margin-bottom: 50px;
        }
        .gallery-ssTitre{
            p{
                color: $primaryColor;
                font-size: 2.5rem ;
                line-height: 1.2;
            }
        }

        .gallery-paragraph{
            color: $primaryColor;
            width: 350px;
        }
    }
}