@use "./../variables/colors.scss" as *;

.section-text-evidence {
  background-color: $white;
  padding: 90px 0;
  margin-top: 100px;

  .section-label {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 36px;

    span {
      font-size: 0.9rem;
      font-weight: 500;
      text-transform: uppercase;
      color: $primaryColor;
    }

    &::after {
      content: "";
      display: block;
      height: 1px;
      width: 60px;
      background-color: $primaryColor;
      opacity: 0.4;
    }
  }
}

.section-content {
  margin-bottom: 40px;
  p {
    font-size: 4rem;
    line-height: 4rem;
  }
}

.section-paragraph {
  margin-top: 20px;
  color: $txtColor;

  p {
    font-size: 4rem;
    line-height: 4rem;
    // je ne parviens pas à aggrandir. Wysiwyg qui prend le pas?
  }
}

@media (max-width: 1024px) {
  .section-text-evidence .section-inner {
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .section-text-evidence {
    padding: 60px 0;

    .section-inner {
      margin: 0;
      max-width: 90%;
    }
  }
}
