@use "./../variables/base.scss" as *;
@use "./../variables/colors.scss" as *;
@use "./../variables/fonts.scss" as *;
@use "./../variables/cta.scss" as *;

.section-gallery-bl-gr {

    .card {
        display: grid;
        grid-template-columns: 50% 50%;
        min-height: 500px;
    }

    .gallery-image {
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .swiper-photo {
        width: 100%;
        height: 100%;
    }

    .swiper-pag-photo {
        position: absolute;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;

        .swiper-pagination-bullet {
             width: 10px;
      height: 10px;
      border: 1px solid $white;
      background: transparent;
      opacity: 1;
      margin: 0;
      transition: background-color 0.25s ease;
        

      
    }
    }



    
    .gallery-info {
        background-color: $lightGray;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        text-align: right;
        padding: 80px;

        .gallery-titre {
            color: $primaryColor;
            text-transform: uppercase;
            font-size: 3rem;
            margin-bottom: 50px;
        }

        .gallery-ssTitre {
            p {
                color: $primaryColor;
                font-size: 2.5rem;
                line-height: 1.2;
            }
        }

        .gallery-paragraph {
            color: $primaryColor;
            width: 350px;
        }
    }
}

@media (max-width: 768px) {
    .section-gallery-bl-gr{
        .card{
            grid-template-columns: 1fr;
        }
        .gallery-image{
            min-height: 280px;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .swiper-photo,
        .swiper-slide,
        .swiper-slide img {
            height: 280px;
        }

        .gallery-info{
            padding: 20px 24px;
            align-items: start;
            text-align: left;
             .gallery-titre { 
                font-size: 1.6rem; 
                padding: 24px;
            }
            .gallery-ssTitre p {
                 font-size: 1.8rem; 
                 padding: 24px;
                }
            .gallery-paragraph {
                 width: 50%; 
                 padding: 24px;
                 padding-left: 24px;
                }
        
        }
    }
    
}