
@use "./../variables/base.scss" as *;
@use "./../variables/colors.scss" as *;
@use "./../variables/fonts.scss" as *;
@use "./../variables/cta.scss" as *;

.section_actu_citation{
    display: flex;
    flex-direction: column;
    margin-top:150px ;
    .citation_container{
        //display: flex;
        align-items: center;

        .citation_text{
            h2{ color: $primaryColor;
            text-indent: 200px;
            font-size: 4rem;
            line-height: 1;
        
            em{
                font-style: normal;
                color: $lightGray;
            }
        }
           
        }

        .citation_nom {
            
                color: $primaryColor;
            font-size: 1.2rem;
            text-align: end;
        
            
        }


    }





}