@use "./../variables/colors.scss" as *;

.section-video {
  background-color: $lightGray;
  margin-top: 100px;
  padding: 100px 0;

  .video-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;

    .video-top-left {
      width: 45%;

      .video-text {
        color: $primaryColor;
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.4;
        margin-bottom: 30px;
      }

      .video-line {
        border: none;
        border-top: 1px solid $lightGray;
        margin: 0;
      }
    }

    .video-top-right {
      width: 40%;
      padding-top: 20px;

      .video-paragraph {
        color: $txtColor;
        font-size: 1rem;
        line-height: 1.7;
        margin-top: 120px;
      }
    }
  }

  .video-wrapper {
    background-color: $primaryColor;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;

    iframe {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

@media (max-width: 1024px) {
  .section-video {
    padding: 60px 0;

    .video-top {
      .video-top-left {
        width: 50%;
      }

      .video-top-right {
        width: 45%;
      }
    }
  }
}

@media (max-width: 768px) {
  .section-video {
    padding-top: 50px 5%;

    .video-top {
      flex-direction: column;
      gap: 30px;

      .video-top-left {
        width: 100%;
      }

      .video-top-right {
        width: 100%;
        padding-top: 0;
      }
    }
  }
}
