@use "./../variables/colors.scss" as *;
@use "./../variables/cta.scss" as *;

.section-citation {
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

.citation-block {
  background-color: $white;
  padding: 100px 0;
  display: flex;
  align-items: center;

  .citation-inner {
    position: relative;
  }

  .citation-name {
    font-size: 1.2rem;
    color: $lightGray;
    letter-spacing: 3px;
    position: absolute;
    top: 0;
    left: 0;

    &.bottom {
      bottom: -50px;
      top: auto;
      left: auto;
      right: 0;
      font-size: 1rem;
      letter-spacing: 5px;
      color: $primaryColor;
      font-weight: 700;
    }
  }

  .citation-text {
    font-size: 4rem;
    line-height: 1;
    color: $txtColor;
    text-indent: 200px;

    em {
      color: $lightGray;
      font-style: normal;
    }
  }
}

.citation-blue {
  width: 100%;
  height: 500px;
  background-color: $primaryColor;
  display: flex;
  //justify-items: center;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  .citation-deco {
    position: absolute;
    top: -1px;
    right: 15px;
    width: 260px;
    height: 260px;
    background-color: $white;
    clip-path: polygon(0 55%, 0 0, 55% 0);
  }

  .citation-blue-inner {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .citation-blue-title {
    color: $white;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.3;
  }

  .btn-cta {
    color: $white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
}



@media (max-width: 768px) {
  .section-citation {
    flex-direction: column;
    h2{
      font-size: 2rem;
      line-height: 1.2;
    }
  }

  .citation-block {
    width: 100%;
    padding: 50px;

      .citation-text {
      font-size: 1rem;
      line-height: 1.3;
      text-indent: 0;
    }

    .citation-name{
      position: relative;
      top: inherit;
      left: inherit;
      display: block;
      margin-bottom: 20px;
      font-size: 0.85rem;
    }
  }

  .citation-blue {
    width: 100%;

    .citation-deco {
      display: none;
    }

    .citation-blue-inner {
      padding: 50px;
      font-size: 3rem;
    }
  }
}