@use "./../variables/colors.scss" as *;

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
>>>>>>> 3316a78 (avancement bg-menu)
=======
>>>>>>> 1fb1278 (structure html)
=======
>>>>>>> 4104b2f (avancement bg-menu)
=======
>>>>>>> bb29b64 (structure html)

>>>>>>> bb29b64 (structure html)
.menu-burger {
  display: flex;
  width: 100%;
<<<<<<< HEAD
  height: 100vh;
  gap: 10px;
  align-items: flex-end;
=======
 height: 100vh;
=======
=======
.hamburger,
.hamburger.is-active {
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    background-color: $white !important;
  }
}

>>>>>>> 6bdd130 (Quick fix : Ajout flêche .svg pour cta + menu burger)
=======
>>>>>>> 534bcab (ajout filtre page actualités + debut animations.css)
.menu-burger {
  display: flex;
  width: 100%;
  height: 100vh;
>>>>>>> 08604e2 (Fix : Correction du burger-menu.scss + footer + functions + template-builder.php)
  gap: 10px;
  align-items: flex-end;
  justify-content: space-between;
<<<<<<< HEAD

<<<<<<< HEAD
 
>>>>>>> 69c6bb2 (burger-menu finetuning)
}

.menu-burger-left {
  width: 50%;
<<<<<<< HEAD
  position: relative;
  //padding-top: 150px;
  display: flex;
  align-items: flex-end;
  height: 100%;
=======

  /* Colonne gauche */
>>>>>>> 6bdd130 (Quick fix : Ajout flêche .svg pour cta + menu burger)

  .menu-burger-left {
    width: 50%;
    position: relative;
    display: flex;
    align-items: flex-end;
    height: 100%;

    img {
      position: absolute;
      object-fit: cover;
      z-index: 1;
      width: 100%;
      height: 100%;
      filter: brightness(0.5);
    }

    .menu-burger-left-bottom {
      position: absolute;
      z-index: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;
      bottom: 80px;
      padding-left: 5vw;

      .menu-burger-contact {
        color: $white;
        font-size: 3rem;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .menu-burger-contact-name {
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 1px;
        }

        .contact-adresse,
        .contact-tel-mail {
          p,
          p + p {
            margin-top: 0;
            line-height: 1.5rem;
          }
        }
      }

      .menu-burger-socials {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-items: center;
        margin-top: 50px;

        a {
          width: 20px;
          height: 20px;
          display: block;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            position: relative;
            filter: none;
          }
        }
      }
    }
  }

  /* Colonne droite */

<<<<<<< HEAD
.menu-burger-left-logo {
=======
 position: relative;
//padding-top: 150px;
 display: flex;
 align-items: flex-end;
 height: 100%;
 



  img {
  position: absolute;
  object-fit: cover;
  z-index: 1;
   width: 100%;
=======
  /* Colonne gauche */

  .menu-burger-left {
    width: 50%;
    position: relative;
    display: flex;
    align-items: flex-end;
>>>>>>> 08604e2 (Fix : Correction du burger-menu.scss + footer + functions + template-builder.php)
    height: 100%;

    img {
      position: absolute;
      object-fit: cover;
      z-index: 1;
      width: 100%;
      height: 100%;
      filter: brightness(0.5);
    }

    .menu-burger-left-bottom {
      position: absolute;
      z-index: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;
      bottom: 80px;
      padding-left: 5vw;

<<<<<<< HEAD
.menu-burger-left-logo{
>>>>>>> 69c6bb2 (burger-menu finetuning)
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 2;
}

.menu-burger-left-bottom {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  bottom: 180px;
<<<<<<< HEAD
=======

>>>>>>> 69c6bb2 (burger-menu finetuning)
}

.menu-burger-contact {
  padding-left: 100px;
  color: $white;
  font-size: 3rem;
  line-height: 1.9;
  font-weight: 300;
<<<<<<< HEAD
}

//.menu-burger-contact-name {
//font-weight: 700;
//text-transform: uppercase;
//margin-bottom: 4px;
=======
=======
      .menu-burger-contact {
        color: $white;
        font-size: 3rem;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .menu-burger-contact-name {
          text-transform: uppercase;
          font-weight: 600;
          letter-spacing: 1px;
        }

        .contact-adresse,
        .contact-tel-mail {
          p,
          p + p {
            margin-top: 0;
            line-height: 1.5rem;
          }
        }
      }

      .menu-burger-socials {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-items: center;
        margin-top: 50px;
>>>>>>> 08604e2 (Fix : Correction du burger-menu.scss + footer + functions + template-builder.php)

        a {
          width: 20px;
          height: 20px;
          display: block;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            position: relative;
            filter: none;
          }
        }
      }
    }
  }

  /* Colonne droite */

<<<<<<< HEAD
//.menu-burger-contact-name {
  //font-weight: 700;
  //text-transform: uppercase;
  //margin-bottom: 4px;
>>>>>>> 69c6bb2 (burger-menu finetuning)
//}

.menu-burger-socials {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-items: center;
<<<<<<< HEAD
  padding-left: 100px;
=======
        padding-left: 100px;


>>>>>>> 69c6bb2 (burger-menu finetuning)
}

.menu-burger-socials img {
  width: 24px;
  height: 24px;
<<<<<<< HEAD
=======

  
>>>>>>> 69c6bb2 (burger-menu finetuning)
}
//.bg-menu{
//gap: 20px;
//}
.menu-burger-right {
  width: 50%;
  background-color: $primaryColor;
  display: flex;
  flex-direction: column;
  justify-content: center;
<<<<<<< HEAD
  align-items:end;
  padding-top: 300px;
  padding-right: 50px;
  gap: 50px;
  height: fit-content;
=======
  align-items: flex-end;
  padding: 60px 80px;
>>>>>>> 0629f4f (avancement bg-menu)
}
=======
  .menu-burger-right {
    width: 50%;
    background-color: $primaryColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 80px;
    padding-right: 50px;
    gap: 150px;
    height: fit-content;

    .burger-nav {
      width: 100%;

      .burger-menu_list {
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
          color: $white;
          text-transform: uppercase;
          letter-spacing: 2px;
          display: block;
          text-decoration: none;
          width: 100%;
          text-align: right;

          a {
            display: flex;
            gap: 20px;
            justify-content: flex-end;
            align-items: flex-end;
          }

          &.big-menu {
            font-size: 2.5rem;
            font-weight: 600;
            line-height: 3rem;
>>>>>>> 6bdd130 (Quick fix : Ajout flêche .svg pour cta + menu burger)

            a {
              line-height: 2.5rem;
            }
          }

          &.bg-menu-small {
            font-size: 2rem;
            font-weight: 300;
            line-height: 2.5rem;

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
.big-menu {
=======
.big-menu li a {
>>>>>>> 4104b2f (avancement bg-menu)
=======


.big-menu  {
>>>>>>> 50d5368 (fin 30-3)
  color: $white;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5;
  display: block;
=======
            a {
              line-height: 2rem;
            }
          }
>>>>>>> 6bdd130 (Quick fix : Ajout flêche .svg pour cta + menu burger)

          &.bg-menu-gold {
            color: $secondaryColor;
            font-size: 1.5rem;

            a {
              line-height: 1.5rem;
            }
          }
        }
      }

<<<<<<< HEAD
  color: $white;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5;
  display: block;
<<<<<<< HEAD
<<<<<<< HEAD
=======
=======
}
>>>>>>> 927826b (fin2-4)

/* classe "is-secondary" à ajouter dans l'admin WordPress */
.burger-menu_list li.is-secondary a {
  font-size: 1rem;
  letter-spacing: 1px;
>>>>>>> 3316a78 (avancement bg-menu)
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
//.burger-menu_list ul{
//gap: 100px;
//}
=======
>>>>>>> 4104b2f (avancement bg-menu)
=======
//.burger-menu_list ul{
  //gap: 100px;
//}
=======
>>>>>>> 927826b (fin2-4)


.burger-menu_list li.big-menu + li.bg-menu-small {
    margin-top: 40px;
}


.burger-menu_list li.bg-menu-small + li.bg-menu-gold {
    margin-top: 40px;
}
>>>>>>> 50d5368 (fin 30-3)
=======
      li.big-menu + li.bg-menu-small,
      li.bg-menu-small + li.bg-menu-gold {
        margin-top: 30px;
      }

      li.bg-menu-gold + li.bg-menu-gold {
        margin-top: 0;
      }
>>>>>>> 6bdd130 (Quick fix : Ajout flêche .svg pour cta + menu burger)

<<<<<<< HEAD
      li.has-arrow a::before {
        content: "";
        background: url("./../../assets/images/arrow-right-gold.svg");
        background-size: cover;
        color: $secondaryColor;
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-bottom: 3px;
        transform: rotate(45deg);
      }
    }

    .menu-bottom {
      width: 100%;

      .burger-bottom {
        width: fit-content;
        text-align: right;
        display: flex;
        flex-direction: column;
        margin-right: 0;
        padding-left: 100px;
        margin-left: auto;
        align-items: flex-end;
        border-top: 1px solid $lightGrayTransparent;

        .burger-legal-footer {
          padding: 0;
          margin-top: 40px;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          gap: 10px;

          li {
            a {
              color: $lightGray;
              font-size: 0.8rem;
              text-transform: uppercase;
              text-decoration: none;
            }

<<<<<<< HEAD

=======
>>>>>>> 553e536 (suite burger menu)
.bg-menu-gold {
  color: $secondaryColor;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 2;
  display: block;
  text-align: right;
}
=======
            & + li {
              &::before {
                content: "•";
                margin-right: 10px;
                color: $lightGray;
              }
            }
          }
        }
>>>>>>> 6bdd130 (Quick fix : Ajout flêche .svg pour cta + menu burger)

        .burger-legal-copy {
          display: flex;
          justify-content: flex-end;
          gap: 10px;
          align-items: center;

<<<<<<< HEAD
.burger-bottom {
<<<<<<< HEAD
  width: fit-content;
  text-align: right;
  display: flex;
  flex-direction: column;
  margin-right: 0;
  padding-left: 100px;
  margin-left: auto;
  align-items: flex-end;

  // margin-top: 100px;
}

.menu-bottom {
=======
    width: fit-content;
    text-align: right;
=======
  .menu-burger-right {
    width: 50%;
    background-color: $primaryColor;
>>>>>>> 08604e2 (Fix : Correction du burger-menu.scss + footer + functions + template-builder.php)
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 80px;
    padding-right: 50px;
    gap: 150px;
    height: fit-content;

    .burger-nav {
      width: 100%;

<<<<<<< HEAD
.menu-bottom
{
>>>>>>> 69c6bb2 (burger-menu finetuning)
  //margin-top: 100px;
  width: 100%;
}
.burger-legal-footer {
<<<<<<< HEAD
  padding: 0;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 15px;

  li a {
    color: $white;
    font-size: 1rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0.6;
  }
}

.burger-hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  //margin-bottom: 100px ;
}

.burger-legal-links {
  color: $white;
  font-size: 1rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  opacity: 0.6;
  margin: 0;
  margin-top: 20px;
=======
    padding: 0;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
=======
      .burger-menu_list {
        display: flex;
        flex-direction: column;
        gap: 10px;
>>>>>>> 08604e2 (Fix : Correction du burger-menu.scss + footer + functions + template-builder.php)

        li {
          color: $white;
          text-transform: uppercase;
          letter-spacing: 2px;
          display: block;
          text-decoration: none;
          width: 100%;
          text-align: right;

          a {
            display: flex;
            gap: 20px;
            justify-content: flex-end;
            align-items: flex-end;
          }

          &.big-menu {
            font-size: 2.5rem;
            font-weight: 600;
            line-height: 3rem;

            a {
              line-height: 2.5rem;
            }
          }

          &.bg-menu-small {
            font-size: 2rem;
            font-weight: 300;
            line-height: 2.5rem;

            a {
              line-height: 2rem;
            }
          }

          &.bg-menu-gold {
            color: $secondaryColor;
            font-size: 1.5rem;

            a {
              line-height: 1.5rem;
            }
          }
        }
      }

      li.big-menu + li.bg-menu-small,
      li.bg-menu-small + li.bg-menu-gold {
        margin-top: 30px;
      }

      li.bg-menu-gold + li.bg-menu-gold {
        margin-top: 0;
      }

      li.has-arrow a::before {
        content: "";
        background: url("./../../assets/images/arrow-right-gold.svg");
        background-size: cover;
        color: $secondaryColor;
        display: inline-block;
        width: 15px;
        height: 15px;
        margin-bottom: 3px;
        transform: rotate(45deg);
      }
    }

    .menu-bottom {
      width: 100%;

<<<<<<< HEAD
.burger-legal-links {
    color: $white;
    font-size: 1rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    opacity: 0.6;
    margin: 0 ;
    margin-top: 20px;
>>>>>>> 69c6bb2 (burger-menu finetuning)
}
=======
      .burger-bottom {
        width: fit-content;
        text-align: right;
        display: flex;
        flex-direction: column;
        margin-right: 0;
        padding-left: 100px;
        margin-left: auto;
        align-items: flex-end;
        border-top: 1px solid $lightGrayTransparent;
>>>>>>> 08604e2 (Fix : Correction du burger-menu.scss + footer + functions + template-builder.php)

<<<<<<< HEAD
        .burger-legal-footer {
          padding: 0;
          margin-top: 40px;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          gap: 10px;

          li {
            a {
              color: $lightGray;
              font-size: 0.8rem;
              text-transform: uppercase;
              text-decoration: none;
            }

            & + li {
              &::before {
                content: "•";
                margin-right: 10px;
                color: $lightGray;
              }
            }
          }
        }

        .burger-legal-copy {
          display: flex;
          justify-content: flex-end;
          gap: 10px;
          align-items: center;

          .burger-legal-links,
          .burger-legal-copyright {
            color: $lightGray;
            font-size: 0.8rem;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin: 0;
          }
        }
      }
    }
  }
}
=======
          .burger-legal-links,
          .burger-legal-copyright {
            color: $lightGray;
            font-size: 0.8rem;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin: 0;
          }
        }
      }
    }
  }
}
>>>>>>> 6bdd130 (Quick fix : Ajout flêche .svg pour cta + menu burger)
=======
.burger-legal-copyright {
    color: $white;
    font-size: 0.6rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    opacity: 0.6;
    margin: 0;
}
<<<<<<< HEAD
>>>>>>> 0629f4f (avancement bg-menu)
=======
=======
.menu-burger{
    display: flex;
    flex-direction: column;
}
>>>>>>> e88ed7f (structure html)
>>>>>>> bb29b64 (structure html)
