@use "../variables/colors.scss" as *;

.container {
  width: 80vw;
  max-width: 1200px;
  margin: auto;

  &.flex {
    display: flex;

    @for $i from 1 through 100 {
      .col-#{$i} {
        width: $i * 1%;
      }
    }
  }

  &.grid {
    display: grid;
  }

  &.-large {
    width: 100vw;
    max-width: 100vw;
  }
}

.big_title {
  color: $primaryColor;
  font-size: 4rem;
  line-height: 3.5rem;
}

.block-img {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
<<<<<<< HEAD

.block-img {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.block-img {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.block-img {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> f8c007c (Optimisation section.php + css + ajout nouvelle section page "construire")
=======
>>>>>>> 1855833 (Optimisation section.php + css + ajout nouvelle section page "construire")
=======
>>>>>>> f8c007c (Optimisation section.php + css + ajout nouvelle section page "construire")
=======
>>>>>>> 1855833 (Optimisation section.php + css + ajout nouvelle section page "construire")

.block-img {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 012f37a (Optimisation section.php + css + ajout nouvelle section page "construire")
=======
>>>>>>> 012f37a (Optimisation section.php + css + ajout nouvelle section page "construire")

.block-img {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> b7891fd (Optimisation section.php + css + ajout nouvelle section page "construire")
=======
>>>>>>> b7891fd (Optimisation section.php + css + ajout nouvelle section page "construire")

.block-img {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> edd09df (Optimisation section.php + css + ajout nouvelle section page "construire")
=======
>>>>>>> f8c007c (Optimisation section.php + css + ajout nouvelle section page "construire")
=======
>>>>>>> 3102fd6 (finetuning 26-03)
=======
>>>>>>> 1855833 (Optimisation section.php + css + ajout nouvelle section page "construire")
=======
>>>>>>> 012f37a (Optimisation section.php + css + ajout nouvelle section page "construire")
=======
>>>>>>> b7891fd (Optimisation section.php + css + ajout nouvelle section page "construire")
=======
>>>>>>> 5c5732b (QuickFix : Correction nom des sections dossier builder)
=======
>>>>>>> edd09df (Optimisation section.php + css + ajout nouvelle section page "construire")
=======
>>>>>>> f8c007c (Optimisation section.php + css + ajout nouvelle section page "construire")
=======
>>>>>>> 3102fd6 (finetuning 26-03)
=======
>>>>>>> 1855833 (Optimisation section.php + css + ajout nouvelle section page "construire")
=======
>>>>>>> 012f37a (Optimisation section.php + css + ajout nouvelle section page "construire")
=======
>>>>>>> b7891fd (Optimisation section.php + css + ajout nouvelle section page "construire")
