$primaryColor: #05233c;
$secondaryColor: #d3bea1;

$darkPrimary: #03111d;

$txtColor: #222;
$lightGray: #e2e2e2;
$white: #fff;
$black: #000;

/* Transparent */
$whiteTransparent: #ffffff00;
$lightGrayTransparent: #e2e2e270;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 534bcab (ajout filtre page actualités + debut animations.css)
=======
>>>>>>> 407ec6a (correction color)

/* Dégradés */

$blueGradient: linear-gradient($primaryColor 0%, $darkPrimary 100%);
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 6bdd130 (Quick fix : Ajout flêche .svg pour cta + menu burger)
=======
>>>>>>> 534bcab (ajout filtre page actualités + debut animations.css)
=======
>>>>>>> 407ec6a (correction color)
